//mixin
@mixin listinnav($border_color){
    margin: 5px 5px 10px 0px;
    padding: 5px 25px 0 5px;
    background: white;
    border-right: 15px solid $border_color;
}
@mixin paraindiv($border_style,$border_color,$text_position){
    border: 2px $border_style $border_color; 
    margin: 15px 0 0 0;
    padding: 8px;
    text-align: $text_position;
}